HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
msg-pick-partner/src/main/generated
msg-pick-admin/src/main/generated

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.parcel-cache
postgres-data

### msg-pick-partner ###
msg-pick-partner/node_modules
msg-pick-admin/node_modules
msg-pick-partner/src/main/resources/static/assets
msg-pick-admin/src/main/resources/static/assets
