<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head"></head>
<body>

<nav class="navbar navbar-expand-lg navbar-light py-5">
    <div class="container">
        <a class="navbar-brand fs-3 fw-bold text-black" href="#">마사지픽 파트너스</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <th:block sec:authorize="isAuthenticated()">
                    <a class="nav-link fs-3 fw-bold text-black-50" th:href="@{/dashboard}">대시보드</a>
                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <a class="nav-link fs-3 fw-bold text-black-50" th:href="@{/auth/sign-in}">로그인</a>
                    <a class="nav-link fs-3 fw-bold text-black-50" th:href="@{/auth/sign-up}">회원가입</a>
                </th:block>
            </div>
        </div>
    </div>
</nav>

<div class="my-lg-20">
    <div class="container">
        <div class="row gy-5 align-items-center gx-0">
            <div class="col-sm-6">
                <div class="pe-5">
                    <h1 class="text-dark fw-bolder fs-3x fs-lg-4tx mb-14 ms-n1" id="home">Let Your Brand
                        <br />Boost On-board
                        <br />Marketing Assets</h1>
                    <div class="d-flex flex-shrink-0 me-5">
                        <a href="../dist/index.html" class="btn btn-primary flex-shrink-0 fw-bolder me-2 me-md-4 my-1">Create a Team</a>
                        <a href="../dist/pages/user-profile/projects.html" class="btn btn-white btn-color-gray-700 flex-shrink-0 my-1 fw-bolder btn-active-light-primary">Take a Tour</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pe-0">
                <img src="/images/4.jpg" class="float-end w-100" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="mb-9 pt-15 z-index-2">
    <div class="container">
        <h3 class="fs-lg-2tx fs-2x text-dark text-center mb-16 lh-base" id="how-it-works" data-kt-scroll-offset="{default: 100, lg: 150}">
            Our 3-Step Guide for How to Setup<br>
            and Deploy Your App Today
        </h3>

        <div class="row gy-10 mb-md-20">
            <div class="col-sm-4">
                <div class="text-center mb-10 mb-md-0">
                    <img src="/themes/media/svg/illustrations/easy-2/1.svg" class="mb-11 h-125px" alt="">
                    <div class="d-flex flex-center mb-5">
                        <span class="badge badge-circle badge-light-danger fw-bolder p-5 me-3 fs-3">1</span>
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark">Create Your Team</div>
                    </div>
                    <div class="fw-bold fs-6 fs-lg-4 text-gray-700">Hire best developers by using
                        <br>our HR tool to get starte
                        <br>with your project</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center mb-10 mb-md-0">
                    <img src="/themes/media/svg/illustrations/easy-2/2.svg" class="mb-11 h-125px" alt="">
                    <div class="d-flex flex-center mb-5">
                        <span class="badge badge-circle badge-light-danger fw-bolder p-5 me-3 fs-3">2</span>
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark">Setup Your App</div>
                    </div>
                    <div class="fw-bold fs-6 fs-lg-4 text-gray-700">With a few clicks install required
                        <br>stack and database and launch
                        <br>your app with no code</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center mb-10 mb-md-0">
                    <img src="/themes/media/svg/illustrations/easy-2/3.svg" class="mb-11 h-125px" alt="">
                    <div class="d-flex flex-center mb-5">
                        <span class="badge badge-circle badge-light-danger fw-bolder p-5 me-3 fs-3">3</span>
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark">Enjoy Nautica App</div>
                    </div>
                    <div class="fw-bold fs-6 fs-lg-4 text-gray-700">We take care of your app deployment
                        <br>within our cloud services
                        <br>hassle free, fast</div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/fragments/script"></th:block>
</body>
</html>
