<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

  <!-- 대시보드 헤더 -->
  <div th:fragment="dashboard-header(pageTitle)" id="kt_header" style="" class="header align-items-stretch">
    <div class="header-brand">
      <a th:href="@{/dashboard}">
        <img class="h-40px"
             src="https://ceo-cdn.baemin.com/cdn/ceo-square/src/images/logo/ceo@2x.png?ver=687b9189405c0e41587aaa0c235bce71"
             alt="배민사장님광장">
      </a>
      <div class="d-flex align-items-center d-lg-none ms-n3" title="사이드 메뉴">
        <div class="btn btn-icon btn-active-color-primary w-30px h-30px" id="kt_aside_mobile_toggle">
                              <span class="svg-icon svg-icon-1">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                       viewBox="0 0 24 24" fill="none">
                                      <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
                                            fill="black"/>
                                      <path opacity="0.3"
                                            d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
                                            fill="black"/>
                                  </svg>
                              </span>
        </div>
      </div>
    </div>

    <div class="topbar">
      <div class="container-fluid py-6 py-lg-0 d-flex flex-column flex-sm-row align-items-lg-stretch justify-content-sm-between">
        <div class="page-title d-flex flex-column me-5">
          <h1 class="d-flex flex-column text-dark fw-bolder fs-2 mb-0" th:text="${pageTitle}">페이지 타이틀</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- 대시보드 헤더 -->

</html>
