<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  <link rel="stylesheet" th:href="@{/themes/plugins/global/plugins.bundle.css}">
  <link rel="stylesheet" th:href="@{/themes/css/style.bundle.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

</html>
